export ADDR=":8080"
export ENV="dev"
export VERSION="0.0.1"
export DB_ADDR="postgres://satyam:satyam123@localhost/social?sslmode=disable"
export DB_MAX_OPEN_CONNS=30
export DB_MAX_IDLE_CONNS=30
export DB_MAX_IDLE_TIMES="15m"