export ADDR=":8080"
export ENV="development"
export VERSION="0.0.1"
export DB_ADDR="postgres://satyam:satyam123@localhost/social?sslmode=disable"
export DB_MAX_OPEN_CONNS=30
export DB_MAX_IDLE_CONNS=30
export DB_MAX_IDLE_TIMES="15m"
export MAIL_SERVICE_API_KEY="0bc53222f4bddd"
export FROM_EMAIL="stmsinghania@gmail.com"
export AUTH_BASIC_USER="admin"
export AUTH_BASIC_PASS="admin"
export JWT_SECRET="shadowcyng"
